/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  background-color: aquamarine;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
footer {
  padding: 1rem;
}

/* HEADER */
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.flex h1 {
  font-size: 2.5rem;
  margin-left: 8px;
}
#generate-btn {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* BOARD */
#board {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: auto;
}
#board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.board-number-hard {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.board-number-n {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.board-number-ez {
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.clicked {
  background-color: blue;
  color: white;
}
